[core]
  editor = vim
  excludesfile = ~/.gitignore
  autoCRLF = false
  ignorecase = false

[alias]
  aliase = "!git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort"
  br = branch
  ci = commit
  co = checkout
  dc = diff --cached
  df = diff
  graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
  root = rev-parse --show-toplevel
  sfu = submodule update --init --recursive
  st = status
  tarball = "!f() { PREFIX=$(basename `pwd`); git archive --format=tar --prefix ${PREFIX}/ HEAD | gzip > ${PREFIX}-HEAD.tar.gz ; }; `f` && echo 'archived HEAD'"
  branch-clean = "!git branch --merged | grep -v '*' | xargs -I % git branch -d %"
  default-branch = "!git symbolic-ref --short refs/remotes/origin/HEAD | awk -F '/' '{print $NF}'"

[push]
  default = upstream

[branch]
  autosetuprebase = always

[merge]
  ff = false

[pull]
  rebase = false

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = auto
  pager = true

[color "advice"]
  hint = green

[commit]
  template = ~/.gitmessage

[include]
  path = ~/.gitconfig.local

[github]
  user = hayajo

[ghq]
root = ~/go/src
root = ~/ghq