*~
*.bak
*.old

.DS_Store
Desktop.ini
Thumbs.db

.vim/*
!.vim/after/
!.vim/autoload/
!.vim/ftdetect/
!.vim/syntax/

*.elc
.emacs.d/url/*
.emacs.d/auto-save-alist/*
.emacs.d/elpa/*
!.emacs.d/elpa/delete.me
.emacs.d/ac-comphist.dat
.emacs.d/tramp
.emacs.d/.session
