*~
*.bak
*.old

.DS_Store
Desktop.ini
Thumbs.db

bin/*
!bin/git-now

.vim/bundle/
!.vim/bundle/neobundle.vim
!.vim/bundle/dein.vim

*.elc
.emacs.d/url/
.emacs.d/auto-save-alist/
.emacs.d/elpa/*
!.emacs.d/elpa/delete.me
.emacs.d/ac-comphist.dat
.emacs.d/tramp
.emacs.d/.session
